<div class="container date-select">
  <div class="title">
    <mat-icon fontIcon="flight" style="transform: rotate(90deg);" color="primary"></mat-icon>
    <h3 class="title__name">Dublin to Warsaw Modlin </h3>
  </div>
  <div class="slider">
    <div class="slider__btn" (click)="handlePrev()">&#10094;</div>
    <div class="slider__container" [ngClass]="{'transformed': isTransformed}">
      <div class="card" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]; let cardId = index"
      [ngClass]="{'active': cardId === selectedCardIndex}"
      (click)="handleSelectCard(cardId)">
        <span class="card__date" [ngClass]="{'active': cardId === selectedCardIndex}">{{ item }} Mar</span>
        <span class="card__day" [ngClass]="{'active': cardId === selectedCardIndex}"> Wednesday</span>
        <span class="card__price" [ngClass]="{'active': cardId === selectedCardIndex}">&euro;146.70</span>
        <img class="card__icon" src="assets/do_not_fly_24px.svg" alt="icon do not fly">
      </div>
    </div>
    <div class="slider__btn" (click)="handleNext()">&#10095;</div>
  </div>
</div>
