.auth {
  padding: 32px 24px;
  border-radius: 8px;
  background: white;
  max-width: 494px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.auth__tabs::ng-deep {
  & .mat-mdc-tab-header {
    margin-bottom: 36px;
  }

  & .mdc-tab:first-child {
    border: 1px solid #cecece;
    border-radius: 6px 0 0 0;
  }

  & .mdc-tab:last-child {
    border: 1px solid #cecece;
    border-radius: 0 6px 0 0;
  }

  & .mat-mdc-tab-body-content {
    overflow-y: inherit;
  }

  & .mat-mdc-tab-body-active {
    overflow-y: inherit;
  }

  & .mat-mdc-raised-button {
    box-shadow: none;
  }

  &:not(:disabled):active {
    box-shadow: none;
  }
  &:not(.mdc-ripple-upgrade):focus {
    box-shadow: none;
  }

  & .mat-mdc-menu-content {
    padding: 0;
  }
}
