<header class="container header">
  <h1 class="logo">
    <img class="logo-img" src="../../../../assets/logo.png" alt="logo">
    AIRWAYS
  </h1>

  <div class="booking-steps"></div>

  <div class="header-right-container">

    <mat-select class="header-btn date-format" [(value)]="dateFormat">
      <mat-option [value]="option" *ngFor="let option of dateFormats">{{ option | uppercase }}</mat-option>
    </mat-select>

    <mat-select class="header-btn currency" [(value)]="currency">
      <mat-option [value]="option" *ngFor="let option of currencies">{{ option }}</mat-option>
    </mat-select>
  </div>

</header>
