<div class="auth">
  <mat-tab-group class="auth__tabs">
    <mat-tab label="Log in">
      <div class="auth__buttons">
        <button mat-raised-button class="auth__button">
          <mat-icon>
            <img src="assets/google.svg" alt="google" />
          </mat-icon>
          Continue with Google
        </button>
        <button mat-raised-button class="auth__button">
          <mat-icon>
            <img src="assets/facebook.svg" alt="facebook" />
          </mat-icon>
          Continue with Facebook
        </button>
      </div>
      <div class="auth__separator">
        <div class="auth__separator-line"></div>
        <p class="auth__separator-text">or log in with your email</p>
        <div class="auth__separator-line"></div>
      </div>
      <!--  <form>
        <mat-form-field>
          <input matInput placeholder="Email" required />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="First Name" required />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" required />
        </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Date of birth" required />
      </mat-form-field>
      <div style="display: flex; width: 100%">
        <mat-button-toggle-group name="gender" style="width: 50%">
          <mat-button-toggle value="male">Male</mat-button-toggle>
          <mat-button-toggle value="female">Female</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-form-field style="width: 50%">
          <input matInput placeholder="Country Code" required />
        </mat-form-field>
        <mat-form-field style="width: 50%">
          <input matInput placeholder="Mobile Phone Number" required />
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-select placeholder="Citizenship">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox>I agree to Airway's Privacy Policy and Terms of Use</mat-checkbox>
      <button mat-raised-button>Sign Up</button>
    </form> -->
    </mat-tab>
    <mat-tab label="Sign up">
      <!-- <button mat-raised-button>Continue with Google</button>
    <button mat-raised-button>Continue with Facebook</button>
    <hr />
    <form>
      <mat-form-field>
        <input matInput placeholder="Email" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" required />
      </mat-form-field>
      <div style="display: flex; width: 100%">
        <div style="flex-grow: 1"></div>
        <a href="#">Forgot password?</a>
      </div>
      <button mat-raised-button>Log In</button>
    </form> -->
    </mat-tab>
  </mat-tab-group>
</div>
