<form class="login__form" [formGroup]="loginForm">
  <section class="login__form-inputs">
    <mat-form-field class="login__form-input" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="text" matInput formControlName="loginEmail" />
      <mat-error *ngIf="loginEmail?.hasError('required')">Please enter email</mat-error>
    </mat-form-field>

    <mat-form-field class="login__form-input" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="{{ hidePassword ? 'password' : 'text' }}"
        matInput
        formControlName="loginPassword"
      />
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
      <mat-error *ngIf="loginPassword?.hasError('required')">Please enter password</mat-error>
    </mat-form-field>
  </section>

  <button mat-button color="primary" class="login__button-forgot">Forgot password?</button>

  <button mat-raised-button class="login__button-auth" color="primary">Log in</button>
</form>
