<div class="container date-select">
  <div class="title">
    <mat-icon fontIcon="flight" color="primary" [ngClass]="{'rotate': isReturnFlight}"></mat-icon>
    <h3 class="title__name" *ngIf="!isReturnFlight">{{ searchDataService.originName }} to {{ searchDataService.destinationName }} </h3>
    <h3 class="title__name" *ngIf="isReturnFlight">{{ searchDataService.destinationName }} to {{ searchDataService.originName }} </h3>
  </div>
  <div class="slider" [ngClass]="{ selected: isFlightSelected }">
    <div class="slider__btn" (click)="handleSliderPosition(sliderPositions.right)">&#10094;</div>
    <div class="slider__container"
      [ngClass]="{'transformed-left': currentSliderPosition === sliderPositions.left, 'transformed-right': currentSliderPosition === sliderPositions.right}">
      <div class="card" *ngFor="let position of datesPositions"
      [ngClass]="{'active': checkCardSelected(position), 'disabled': !getPrice(position.toString(), searchDataService.currency)}"
      (click)="handleSelectCard(position)" [appSeatsColor]="getSeats(position.toString())" [isActiveCard]="checkCardSelected(position)">

        <span class="card__date" [ngClass]="{'active': checkCardSelected(position)}">{{ getDate(position.toString()) | date: 'd MMM' : 'UTC' }} </span>
        <span class="card__day" [ngClass]="{'active': checkCardSelected(position)}"> {{ getDate(position.toString()) | date: 'EEEE': 'UTC' }}</span>

        <span class="card__price" *ngIf="getPrice(position.toString(), searchDataService.currency)"
          [ngClass]="{'active': checkCardSelected(position)}">
          {{ getPrice(position.toString(), searchDataService.currency) | currency: searchDataService.currency.toUpperCase() :'symbol-narrow'}}
        </span>

        <img class="card__icon" src="assets/do_not_fly_24px.svg" alt="icon do not fly" *ngIf="!getPrice(position.toString(), searchDataService.currency)">
      </div>
    </div>
    <div class="slider__btn" (click)="handleSliderPosition(sliderPositions.left)">&#10095;</div>
  </div>
</div>
