:host {
  padding-top: 40px;
}

.title {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

mat-icon {
  transform: rotate(90deg);
  &.rotate {
    transform: rotate(-90deg);
  }
}

.title__name {
  margin: 0;
  color: var(--primary-blue);
  font-weight: 700;
  font-size: 24px;
  padding-left: 7px;
}

.slider {
  overflow: hidden;
  position: relative;
}

.slider__container {
  display: inline-flex;
  width: 200%;
  transition: transform 0.5s ease;

  &.transformed {
    transform: translate(-50%);
  }
}

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  border: 1px solid var(--text-color-neutral60);
  cursor: pointer;

  &.active {
    border-bottom: 5px solid greenyellow;
  }
}

.card__date {
  color: var(--background-secondary0);
  font-weight: 500;
  transition: all 0.3s ease;
  &.active {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-blue);
  }
}

.card__day {
  color: var(--text-color-neutral30);
  font-size: 12px;
  font-weight: 100;
  transition: all 0.3s ease;
  padding-bottom: 5px;

  &.active {
    font-size: 14px;
    font-weight: 400;
  }
}

.card__price {
  color: var(--primary-blue);
  font-weight: 700;
  font-size: 20px;
  transition: all 0.3s ease;

  &.active {
    font-size: 30px;
  }
}

.card__icon {
  height: 24px;
  width: 24px;
}

.slider__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-secondary60);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

  &:last-child{
    right: 0;
  }

  &:hover {
    background: lightgray;
  }
}
