<div class="container date-select">
  <div class="title">
    <mat-icon fontIcon="flight" color="primary" [ngClass]="{'rotate': isReturnFlight}"></mat-icon>
    <h3 class="title__name" *ngIf="!isReturnFlight">{{ searchDataService.origin }} to {{ searchDataService.destination }} </h3>
    <h3 class="title__name" *ngIf="isReturnFlight">{{ searchDataService.destination }} to {{ searchDataService.origin }} </h3>
  </div>
  <div class="slider" *ngIf="searchDates" >
    <div class="slider__btn" (click)="handlePrev()">&#10094;</div>
    <div class="slider__container" [ngClass]="{'transformed': isTransformed}">
      <div class="card" *ngFor="let item of searchDates; let cardId = index"
      [ngClass]="{'active': checkCardSelected(cardId)}"
      (click)="handleSelectCard(cardId)">
        <span class="card__date" [ngClass]="{'active': checkCardSelected(cardId)}">{{ item | date: 'd MMM' }} </span>
        <span class="card__day" [ngClass]="{'active': checkCardSelected(cardId)}"> {{ item | date: 'EEEE' }}</span>
        <span class="card__price" [ngClass]="{'active': checkCardSelected(cardId)}">{{ getPriceByIdJeburin(cardId, searchDataService.currency) | currency: searchDataService.currency.toUpperCase() :'symbol'}}</span>
        <img class="card__icon" src="assets/do_not_fly_24px.svg" alt="icon do not fly">
      </div>
    </div>
    <div class="slider__btn" (click)="handleNext()">&#10095;</div>
  </div>
</div>
