.auth__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.auth__button::ng-deep {
  width: 100%;
  padding: 28px;
  background: #f4f6f9;
  border: 1px solid #cecece;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;

  & .mdc-button__ripple {
    background: #f4f6f9;
  }
}

.auth__separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 32px 24px;
  width: 100%;
  font-style: 12px;
}

.auth__separator-line {
  width: 100%;
  height: 1px;
  background-color: #e1e5eb;
}

.auth__separator-text {
  white-space: nowrap;
  margin: 0;
}

@media (max-width: 550px) {
  .auth__button {
    font-size: 14px;
  }
}
