<div class="auth__buttons">
  <button mat-raised-button class="auth__button">
    <mat-icon>
      <img src="assets/google.svg" alt="google" />
    </mat-icon>
    Continue with Google
  </button>
  <button mat-raised-button class="auth__button">
    <mat-icon>
      <img src="assets/facebook.svg" alt="facebook" />
    </mat-icon>
    Continue with Facebook
  </button>
</div>
<div class="auth__separator">
  <div class="auth__separator-line"></div>
  <p class="auth__separator-text">or {{ activeTab === 0 ? 'log in' : 'sign up' }} with your email</p>
  <div class="auth__separator-line"></div>
</div>
