<div class="passengers">
  <div class="container">
    <div class="passengers-header">
      <div class="passengers-header__inner">
        <img class="passengers-header__img" src="../../../../assets/person.svg" alt="person" />
        <h2 class="passengers-header__title">Passengers</h2>
      </div>
      <p class="passengers-header__description">
        Enter the passenger's names as they appear on document (passport or ID).
      </p>
    </div>
    <div class="passengers__cards">
      <app-passenger-card
        *ngFor="let passenger of passengers; let i = index"
        [passenger]="passenger"
        [sequenceNumber]="i + 1"
      ></app-passenger-card>
    </div>
  </div>
</div>
