:host {
  display: inline-block;
  width: 100%;
  margin-top: 88px;
}

.passengers {
  background: #f5f5f5;
  height: 100%;
}

.passengers-header__inner {
  display: flex;
  align-items: center;
  gap: 14px;
  color: var(--primary-blue);
  margin-bottom: 8px;
}

.passengers-header__img {
  width: 24px;
  height: 24px;
}

.passengers-header__title {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.passengers-header__description {
  margin: 0;
}
