<footer class="container footer">
  <span>© {{currentDate | date: 'yyyy'}}, AIRWAY. All rights reserved.</span>
  <div class="payment-methods">
    <span>We accept these payment methods</span>
    <img src="../../../../assets/mastercard-logo.png" alt="MasterCard">
    <img src="../../../../assets/amazon-pay-logo.png" alt="Amazon Pay">
    <img src="../../../../assets/american-express-logo.png" alt="American Express">
    <img src="../../../../assets/visa-logo.png" alt="Visa">
  </div>
</footer>
