<footer class="container footer">

  <div class="footer-top-wrapper">
    <span>© {{currentDate | date: 'yyyy'}}, AIRWAY. All rights reserved.</span>
    <div class="payment-methods">
      <span>We accept these payment methods</span>
      <img src="../../../../assets/mastercard-logo.png" alt="MasterCard">
      <img src="../../../../assets/amazon-pay-logo.png" alt="Amazon Pay">
      <img src="../../../../assets/american-express-logo.png" alt="American Express">
      <img src="../../../../assets/visa-logo.png" alt="Visa">
    </div>
  </div>

  <div class="footer-developers-wrapper">
    <a class="dev-link" href="https://github.com/Dazmond-ru" target="_blank">
      <mat-icon class="github-icon"  svgIcon="github" aria-hidden="false"></mat-icon>
      Sergey Fedorov
    </a>
    <a class="dev-link" href="https://github.com/Kupreichik" target="_blank">
      <mat-icon class="github-icon"  svgIcon="github" aria-hidden="false"></mat-icon>
      Julia Kupreichik
    </a>
    <a class="dev-link" href="https://github.com/andb106" target="_blank">
      <mat-icon class="github-icon"  svgIcon="github" aria-hidden="false"></mat-icon>
      Andrey Boytsov
    </a>
  </div>
</footer>
