<div class="container flight-info" *ngIf="fligthData">
  <div class="flight-info__content">

    <app-flight-date-city [flightDetails]="fligthData" [isDepartureDate]="true"></app-flight-date-city>

    <div class="flight-duration-type">
      <span class="duration"> {{ fligthData.duration }} </span>
      <img src="assets/airplane_takeoff_24px.svg" alt="airplane_takeoff" >
      <span class="flight-type"> {{ fligthData.fligthType }} </span>
    </div>

    <app-flight-date-city [flightDetails]="fligthData" [isDepartureDate]="false"></app-flight-date-city>

    <div class="flight-number">
      Flight no.
      <span>{{ fligthData.flightNumber }}</span>
    </div>

  </div>

  <div class="flight-info__price">
    <div class="price-container">
      <span class="seats"> {{ fligthData.seats }} seats <br> available</span>
      <span>Price</span>
      <span class="price"> {{ fligthData.price | currency:'EUR':'symbol' }} </span>
    </div>
    <button mat-raised-button color="primary">Select</button>
  </div>
</div>
