<div class="container flight-info">
  <div class="flight-info__content">

    <div class="flight-date-city">
      <span class="date">Wed, 1 Mar 2023</span>
      <div class="time">
        <span class="time__time">8:40</span>
        <span class="time__utc">UTC +0</span>
      </div>
      <span class="city">Dublin</span>
    </div>

    <div class="flight-duration-type">
      <span class="duration">2h 50m</span>
      <img src="assets/airplane_takeoff_24px.svg" alt="airplane_takeoff" >
      <span class="flight-type">Direct</span>
    </div>

    <div class="flight-date-city">
      <span class="date">Wed, 1 Mar 2023</span>
      <div class="time">
        <span class="time__time">8:40</span>
        <span class="time__utc">UTC +0</span>
      </div>
      <span class="city">Dublin</span>
    </div>

    <div class="flight-number">
      Flight no.
      <span>FR 1925</span>
    </div>

  </div>

  <div class="flight-info__price">
    <div class="price-container">
      <span class="seats">100 seats <br> available</span>
      <span>Price</span>
      <span class="price">€146.70</span>
    </div>
    <button mat-raised-button color="primary">Select</button>
  </div>
</div>
