:root {
  --primary-blue: #11397E;
  --secondary-0:#0090BD;
  --secondary-60: #E9EDF1;
  --secondary-90: #F4F6F9;
  --secondary-100:#FAFAFA;
  --text-color-neutral10: #49454F;
  --text-color-neutral30: #74767A;
  --text-color-neutral60: #CECECE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
}

.container {
  width: 1128px;
  margin: 0 auto;
}

.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
  color: var(--primary-blue);
}

.mat-mdc-select-value-text {
  color: #ffffff;
}

.mat-mdc-select-arrow path {
  fill: #ffffff;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    margin: 0 3vw;
  }
}
