:root {
  --primary-blue: #11397E;
  --text-color-neutral0: #1C1B1F;
  --text-color-neutral10: #49454F;
  --text-color-neutral30: #74767A;
  --text-color-neutral60: #CECECE;
  --background-main: #F5F5F5;
  --background-secondary0:#0090BD;
  --background-secondary60: #E9EDF1;
  --background-secondary40: #D0D9DF;
  --background-secondary50: #E1E5EB;
  --background-secondary90: #F4F6F9;
  --background-secondary100:#FAFAFA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  width: 1128px;
  margin: 0 auto;
}

.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
  color: var(--primary-blue);
}

.mat-mdc-select-value-text {
  color: #ffffff;
}

.mat-mdc-select-arrow path {
  fill: #ffffff;
}

.mat-tooltip {
  .mdc-tooltip__surface {
    color: black;
    background: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 16px 24px;
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 94%;
    margin: 0 3vw;
  }
}
