.flight-info {
  display: flex;
  background: var(--background-secondary100);
  border-radius: 5px;

  @media (max-width: 670px) {
    flex-direction: column;
    align-items: center;
  }
}

.flight-info__content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  column-gap: 30px;
  padding: 0 30px;
  border-right: 2px dashed var(--background-secondary40);

  &.selected {
    border-right: unset;
  }

  @media (max-width: 1280px) {
    column-gap: 5px;
    padding: 0 10px;
  }

  @media (max-width: 670px) {
    column-gap: 5px;
    padding: unset;
    position: relative;
    border-right: unset;
    border-bottom: 2px dashed var(--background-secondary40);
  }
}

.flight-duration-type {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  position: relative;
  gap: 8px;
  font-size: 12px;

  & img {
    width: 50px;
    height: 24px;
    z-index: 1;
    background: var(--background-secondary100);

    &.rotate {
      transform: scale(-1,1);
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    background: var(--background-secondary40);
  }

  @media (max-width: 670px) {
    gap: unset;
  }
}

.flight-number {
  color: var(--text-color-neutral30);

  & span {
    color: black;
  };

  @media (max-width: 670px) {
    position: absolute;
    top: 135%;
    max-width: 65px;
  }
}

.flight-info__price {
  display: flex;
  padding: 15px;
  align-items: center;
  gap: 30px;

  @media (max-width: 768px) {
    gap: 10px;
    padding: 5px;
  }

  @media (max-width: 440px) {
    align-self: self-end;
  }
}

.price-container {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 700;
  color: var(--text-color-neutral30);
  text-align: right;
  gap: 3px;

  &.selected span:not(:last-child) {
    height: 0;
    opacity: 0;
    padding: 0;
  }
}

.seats {
  background: greenyellow;
  padding: 4px 8px;
  border-radius: 2px;
}

.price {
  font-size: 30px;
  color: var(--primary-blue);
}

.select-btn {
  background: linear-gradient(108.75deg, #0090BD 59.91%, #073590 95.36%);
  border: 1px solid var(--primary-blue);

  &.selected {
    background: var(--background-secondary90);
    border: unset;
    color: var(--primary-blue);
  }
}
