<div class="container flight-info" *ngIf="flightSelectedData2">
  <div class="flight-info__content">

    <app-flight-date-city
      [flightDate]="flightSelectedData2.takeoffDate"
      [isDepartureDate]="true" [city]="isReturnFlight ? searchDataService.destination : searchDataService.origin">
    </app-flight-date-city>

    <div class="flight-duration-type">
      <span class="duration"> {{ flightSelectedData2.timeMins | minToHours }} </span>
      <img src="assets/airplane_takeoff_24px.svg" alt="airplane_takeoff" [ngClass]="{'rotate': isReturnFlight}">
      <span class="flight-type"> direct </span>
    </div>

    <app-flight-date-city
      [flightDate]="flightSelectedData2.landingDate"
      [isDepartureDate]="false" [city]="isReturnFlight ? searchDataService.origin : searchDataService.destination">
    </app-flight-date-city>

    <div class="flight-number">
      Flight no.
      <span>{{ flightSelectedData2.flightNumber }}</span>
    </div>

  </div>

  <div class="flight-info__price">
    <div class="price-container">
      <span class="seats"> {{ flightSelectedData2.avaible }} seats <br> available</span>
      <span>Price</span>
      <span class="price"> {{ flightSelectedData2.price[searchDataService.currency] | currency: searchDataService.currency.toUpperCase():'symbol'}} </span>
    </div>
    <button mat-raised-button color="primary" class="select-btn">Select</button>
  </div>
</div>
