.summary-total__item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-bottom: 16px;
  max-width: 440px;
  width: 100%;

  font-size: 16px;
}

.summary-total__item-header {
  font-weight: 700;
}

.summary-total__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 850px) {
  .summary-total__item {
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .summary-total__item-description {
    margin-left: 20px;
  }

  .summary-total__item {
    font-size: 14px;
  }
}
