:host {
  display: block;
  margin-top: -24px;
  pointer-events: none;
}

.mat-stepper-horizontal {
  background-color: transparent;
  margin-top: 8px;
}

::ng-deep .mat-horizontal-stepper-header {
  padding: 0 20px!important;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
