<div class="summary-item">
  <p class="summary-item__title">Harry Potter</p>
  <div class="summary-item__description">
    <span>1checked bag (total 23 kg) included</span>
    <span>1 cabin bag + 1 personal item (max. 8 kg) included</span>
    <span>Seat 19E</span>
  </div>
</div>
<div class="summary-item">
  <p class="summary-item__title">Harry Potter</p>
  <div class="summary-item__description">
    <span>1checked bag (total 23 kg) included</span>
    <span>1 cabin bag + 1 personal item (max. 8 kg) included</span>
    <span>Seat 19E</span>
  </div>
</div>
