:host {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.summary-item {
  padding: 20px 24px;
  background: white;
  font-size: 16px;
}

.summary-item__title {
  text-transform: uppercase;
}

.summary-item__description {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 28px;
}

@media (max-width: 850px) {
  .summary-item {
    font-size: 14px;
  }

  .summary-item__title {
    margin-bottom: 8px;
  }

  .summary-item__description {
    margin-left: 20px;
  }
}
