<div class="container search-settings">
    <div class="from-to">
      <span>{{ searchDataService.origin }}</span>
      <img src="assets/return_trip_24px.svg" alt="icon-trip-type">
      <span> {{ searchDataService.destination }}</span>
    </div>
    <div class="trip-info">
      <span>Return</span>
      <span class="dot"></span>
      <span>{{ searchDataService.startDate | date: 'dMMM' }} - {{ searchDataService.endDate | date: 'dMMM' }}</span>
      <span class="dot"></span>
      <span>{{ searchDataService.passengers }}</span>
      <img src="assets/account_24px.svg" alt="icon-person">
    </div>
    <button mat-button color="primary">Edit</button>
</div>

