<div class="container search-settings">
    <div class="from-to">
      <span>Dublin</span>
      <img src="assets/return_trip_24px.svg" alt="icon-trip-type">
      <span>Warsaw Modlin</span>
    </div>
    <div class="trip-info">
      <span>Return</span>
      <span class="dot"></span>
      <span>1Mar - 18Mar</span>
      <span class="dot"></span>
      <span>3</span>
      <img src="assets/account_24px.svg" alt="icon-person">
    </div>
    <button mat-button color="primary">Edit</button>
</div>

